<td class="info">
    {% if town_meteo_data_day1.max_4_10 or town_meteo_data_day1.min_4_10 %}
        <div>
    <img class="type" src="/static/images/types/sun.png" alt="" title="" />
    <p class="degree">
        {% if town_meteo_data_day1.max_4_10 %}
            {{ town_meteo_data_day1.max_4_10 }}°C
        {% endif %}
        {% if town_meteo_data_day1.min_4_10 %}
        {% if town_meteo_data_day1.max_4_10 %}...{% endif %}
            {{ town_meteo_data_day1.min_4_10 }}°C
        {% endif %}
    {% endif %}
    </p>
    </div>
</td>

<td class="info">
    {% if town_meteo_data_day1.max_10_16 or town_meteo_data_day1.min_10_16 %}
        <div>
    <img class="type" src="/static/images/types/sun.png" alt="" title="" />
    <p class="degree">
        {% if town_meteo_data_day1.max_10_16 %}
            {{ town_meteo_data_day1.max_10_16 }}°C
        {% endif %}
        {% if town_meteo_data_day1.min_10_16 %}
        {% if town_meteo_data_day1.max_10_16 %}...{% endif %}
            {{ town_meteo_data_day1.min_10_16 }}°C
        {% endif %}
    {% endif %}
    </p>
    </div>
</td>

<td class="info">
    {% if town_meteo_data_day1.max_16_22 or town_meteo_data_day1.min_16_22 %}
        <div>
    <img class="type" src="/static/images/types/sun.png" alt="" title="" />
    <p class="degree">
        {% if town_meteo_data_day1.max_16_22 %}
            {{ town_meteo_data_day1.max_16_22 }}°C
        {% endif %}
        {% if town_meteo_data_day1.min_16_22 %}
        {% if town_meteo_data_day1.max_16_22 %}...{% endif %}
            {{ town_meteo_data_day1.min_16_22 }}°C
        {% endif %}
    {% endif %}
    </p>
    </div>
</td>

<td class="info time-end">
    {% if town_meteo_data_day1.max_22_4 or town_meteo_data_day1.min_22_4 %}
        <div>
    <img class="type" src="/static/images/types/sun.png" alt="" title="" />
    <p class="degree">
        {% if town_meteo_data_day1.max_22_4 %}
            {{ town_meteo_data_day1.max_22_4 }}°C
        {% endif %}
        {% if town_meteo_data_day1.min_22_4 %}
        {% if town_meteo_data_day1.max_22_4 %}...{% endif %}
            {{ town_meteo_data_day1.min_22_4 }}°C
        {% endif %}
    {% endif %}
    </p>
    </div>
</td>

<td class="info">
    {% if town_meteo_data_day2.max_4_10 or town_meteo_data_day2.min_4_10 %}
        <div>
    <img class="type" src="/static/images/types/sun.png" alt="" title="" />
    <p class="degree">
        {% if town_meteo_data_day2.max_4_10 %}
            {{ town_meteo_data_day2.max_4_10 }}°C
        {% endif %}
        {% if town_meteo_data_day2.min_4_10 %}
        {% if town_meteo_data_day2.max_4_10 %}...{% endif %}
            {{ town_meteo_data_day2.min_4_10 }}°C
        {% endif %}
    {% endif %}
    </p>
    </div>
</td>

<td class="info">
    {% if town_meteo_data_day2.max_10_16 or town_meteo_data_day2.min_10_16 %}
        <div>
    <img class="type" src="/static/images/types/sun.png" alt="" title="" />
    <p class="degree">
        {% if town_meteo_data_day2.max_10_16 %}
            {{ town_meteo_data_day2.max_10_16 }}°C
        {% endif %}
        {% if town_meteo_data_day2.min_10_16 %}
        {% if town_meteo_data_day2.max_10_16 %}...{% endif %}
            {{ town_meteo_data_day2.min_10_16 }}°C
        {% endif %}
    {% endif %}
    </p>
    </div>
</td>

<td class="info">
    {% if town_meteo_data_day2.max_16_22 or town_meteo_data_day2.min_16_22 %}
        <div>
    <img class="type" src="/static/images/types/sun.png" alt="" title="" />
    <p class="degree">
        {% if town_meteo_data_day2.max_16_22 %}
            {{ town_meteo_data_day2.max_16_22 }}°C
        {% endif %}
        {% if town_meteo_data_day2.min_16_22 %}
        {% if town_meteo_data_day2.max_16_22 %}...{% endif %}
            {{ town_meteo_data_day2.min_16_22 }}°C
        {% endif %}
    {% endif %}
    </p>
    </div>
</td>

<td class="info time-end">
    {% if town_meteo_data_day2.max_22_4 or town_meteo_data_day2.min_22_4 %}
        <div>
    <img class="type" src="/static/images/types/sun.png" alt="" title="" />
    <p class="degree">
        {% if town_meteo_data_day2.max_22_4 %}
            {{ town_meteo_data_day2.max_22_4 }}°C
        {% endif %}
        {% if town_meteo_data_day2.min_22_4 %}
        {% if town_meteo_data_day2.max_22_4 %}...{% endif %}
            {{ town_meteo_data_day2.min_22_4 }}°C
        {% endif %}
    {% endif %}
    </p>
    </div>
</td>

<td class="info">
    {% if town_meteo_data_day3.max_4_10 or town_meteo_data_day3.min_4_10 %}
        <div>
    <img class="type" src="/static/images/types/sun.png" alt="" title="" />
    <p class="degree">
        {% if town_meteo_data_day3.max_4_10 %}
            {{ town_meteo_data_day3.max_4_10 }}°C
        {% endif %}
        {% if town_meteo_data_day3.min_4_10 %}
        {% if town_meteo_data_day3.max_4_10 %}...{% endif %}
            {{ town_meteo_data_day3.min_4_10 }}°C
        {% endif %}
    {% endif %}
    </p>
    </div>
</td>

<td class="info">
    {% if town_meteo_data_day3.max_10_16 or town_meteo_data_day3.min_10_16 %}
        <div>
    <img class="type" src="/static/images/types/sun.png" alt="" title="" />
    <p class="degree">
        {% if town_meteo_data_day3.max_10_16 %}
            {{ town_meteo_data_day3.max_10_16 }}°C
        {% endif %}
        {% if town_meteo_data_day3.min_10_16 %}
        {% if town_meteo_data_day3.max_10_16 %}...{% endif %}
            {{ town_meteo_data_day3.min_10_16 }}°C
        {% endif %}
    {% endif %}
    </p>
    </div>
</td>

<td class="info">
    {% if town_meteo_data_day3.max_16_22 or town_meteo_data_day3.min_16_22 %}
        <div>
    <img class="type" src="/static/images/types/sun.png" alt="" title="" />
    <p class="degree">
        {% if town_meteo_data_day3.max_16_22 %}
            {{ town_meteo_data_day3.max_16_22 }}°C
        {% endif %}
        {% if town_meteo_data_day3.min_16_22 %}
        {% if town_meteo_data_day3.max_16_22 %}...{% endif %}
            {{ town_meteo_data_day3.min_16_22 }}°C
        {% endif %}
    {% endif %}
    </p>
    </div>
</td>

<td class="info">
    {% if town_meteo_data_day3.max_22_4 or town_meteo_data_day3.min_22_4 %}
        <div>
    <img class="type" src="/static/images/types/sun.png" alt="" title="" />
    <p class="degree">
        {% if town_meteo_data_day3.max_22_4 %}
            {{ town_meteo_data_day3.max_22_4 }}°C
        {% endif %}
        {% if town_meteo_data_day3.min_22_4 %}
        {% if town_meteo_data_day3.max_22_4 %}...{% endif %}
            {{ town_meteo_data_day3.min_22_4 }}°C
        {% endif %}
    {% endif %}
    </p>
    </div>
</td>
