<td class="info">
    {% if town_meteo_data_day1.date_upd %}
        <div>
    <img class="type" src="/static/images/types/sun.png" alt="" title="" />
    <p class="degree">
        {% if town_meteo_data_day1.max %}
            {{ town_meteo_data_day1.max }}°C
        {% endif %}
        {% if town_meteo_data_day1.min %}
        {% if town_meteo_data_day1.max %}...{% endif %}
            {{ town_meteo_data_day1.min }}°C
        {% endif %}
    {% endif %}
    </p>
    </div>
</td>

<td class="info">
{% if town_meteo_data_day2.date_upd %}
    <div>
    <img class="type" src="/static/images/types/sun.png" alt="" title="" />
    <p class="degree">
    {% if town_meteo_data_day2.max %}
        {{ town_meteo_data_day2.max }}°C
    {% endif %}
    {% if town_meteo_data_day2.min %}
    {% if town_meteo_data_day2.max %}...{% endif %}{{ town_meteo_data_day2.min }}°C
    {% endif %}
    </p>
    </div>
{% endif %}</td>

<td class="info">
{% if town_meteo_data_day3.date_upd %}
    <div>
    <img class="type" src="/static/images/types/sun.png" alt="" title="" />
    <p class="degree">
    {% if town_meteo_data_day3.max %}
        {{ town_meteo_data_day3.max }}°C
    {% endif %}
    {% if town_meteo_data_day3.min %}
    {% if town_meteo_data_day3.max %}...{% endif %}{{ town_meteo_data_day3.min }}°C
    {% endif %}
    </p>
    </div>
{% endif %}</td>

<td class="info">
{% if town_meteo_data_day4.date_upd %}
    <div>
    <img class="type" src="/static/images/types/sun.png" alt="" title="" />
    <p class="degree">
    {% if town_meteo_data_day4.max %}
        {{ town_meteo_data_day4.max }}°C
    {% endif %}
    {% if town_meteo_data_day4.min %}
    {% if town_meteo_data_day4.max %}...{% endif %}{{ town_meteo_data_day4.min }}°C
    {% endif %}
    </p>
    </div>
{% endif %}</td>

<td class="info">
{% if town_meteo_data_day5.date_upd %}
    <div>
    <img class="type" src="/static/images/types/sun.png" alt="" title="" />
    <p class="degree">
    {% if town_meteo_data_day5.max %}
        {{ town_meteo_data_day5.max }}°C
    {% endif %}
    {% if town_meteo_data_day5.min %}
    {% if town_meteo_data_day5.max %}...{% endif %}{{ town_meteo_data_day5.min }}°C
    {% endif %}
    </p>
    </div>
{% endif %}</td>

<td class="info">
{% if town_meteo_data_day6.date_upd %}
    <div>
    <img class="type" src="/static/images/types/sun.png" alt="" title="" />
    <p class="degree">
    {% if town_meteo_data_day6.max %}
        {{ town_meteo_data_day6.max }}°C
    {% endif %}
    {% if town_meteo_data_day6.min %}
    {% if town_meteo_data_day6.max %}...{% endif %}{{ town_meteo_data_day6.min }}°C
    {% endif %}
    </p>
    </div>
{% endif %}</td>

<td class="info">
{% if town_meteo_data_day7.date_upd %}
    <div>
    <img class="type" src="/static/images/types/sun.png" alt="" title="" />
    <p class="degree">
    {% if town_meteo_data_day7.max %}
        {{ town_meteo_data_day7.max }}°C
    {% endif %}
    {% if town_meteo_data_day7.min %}
    {% if town_meteo_data_day7.max %}...{% endif %}{{ town_meteo_data_day7.min }}°C
    {% endif %}
    </p>
    </div>
{% endif %}</td>